.App {
  text-align: center;
  /* justify-content: center; */
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: black;
  /* min-height: 100%;
  min-height: 100vh;
  position: relative; */
  /* background-image: url("/space-photo.jpeg"); */
  /* background-color: #282c34; */
  /* background-color: teal; */
}

.footer {
  margin-top: 2vh;
  background-color: teal;
}

.home {
  background-image: url("/space-photo.jpeg");
  background-size: cover;
  position:fixed;
  /* position: fixed; */
  /* position: relative; */
  /* margin-top: 50px; */
  height: 100vh;
  /* min-height: 100%; */
  /* opacity: 60%; */
  width: 100vw;
}

.home-too {
  background-image: url("/space-photo.jpeg");
  background-size: cover;
  position: fixed;
  /* position: relative; */
  /* margin-top: 50px; */
  height: 100vh;
  /* opacity: 60%; */
  width: 100vw;
}

.home-box {
  margin-top: 30px;
  /* position: fixed; */
  /* display: inline-block; */
}

.homebuttonbox {
  margin-top: 40px;
}

.app-header-text, .app-header-text-too {
  margin-top: 20px;
}

.objective-container {
  /* background-color: red!important; */
  background-image: linear-gradient(coral, blue)!important;
}

.goal-container {
  background-image: linear-gradient(coral, blue)!important;
}

.objective-content {
  /* box-shadow: 10px 10px!important; */
  background-color: pink!important;
}

.goal-content {
  background-color: pink!important;
}

/* .App-logo { 
  height: 55vmin;
  height: 60vh;
  pointer-events: none;
 } */

/* The below css makes the image on the homepage spin */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* The below css makes the background image scroll infinitely */

.home {
   /* background:url("/space-photo.jpeg"); */
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  /* top:0; */
  /* left:0; */
  width:100%;
 height:100%;
}
 
@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}
