.app {
  text-align: center;
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: black;
}

.footer {
  margin-top: 2vh;
  background-color: teal;
}

.home {
  background-image: url("/space-photo.jpeg");
  background-size: cover;
  position:fixed;
  height: 100vh;
  width: 100vw;
}

.home-too {
  background-image: url("/space-photo.jpeg");
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.home-box {
  margin-top: 30px;
}

.home-button-box {
  margin-top: 40px;
}

.app-header-text, .app-header-text-too {
  margin-top: 20px;
}

.objective-container {
  background-image: linear-gradient(coral, blue)!important;
}

.goal-container {
  background-image: linear-gradient(coral, blue)!important;
}

.objective-content {
  background-color: pink!important;
}

.goal-content {
  background-color: pink!important;
}

/* The below css makes the image on the homepage spin */

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* The below css makes the background image scroll infinitely */

.home {
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  width:100%;
 height:100%;
}
 
@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}
