.App {
  text-align: center;
}

.App-logo {
  height: 55vmin;
  /* height: 60vh; */
  pointer-events: none;
}

/* The below css makes the image on the homepage spin */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.objective-container {
  background-color: #551A8B;
  height: 100vh;
  width: 100vh;
  border: white;
  border-width: medium;
}

.objective-content {
  text-align: left;
}

.goal-container {
  background-color: #cd5b45;
  height: 100vh;
  width: 100vh;
  border: white;
  border-width: medium;
}

.goal-content {
  text-align: left;
}

body {
  background-color: #282c34;
}

/* .home {
  background-image: url("/sky-photo-314703.jpeg");
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
} */
